<h1>welcome to lambtown4</h1>
<p>I'm proud of young lamb</p>

<%= link_to 'Posts', posts_path %>

<% if user_signed_in? %>
<li>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>
<% else %>
<li>
<%= link_to('Login', new_user_session_path)  %>
</li>
<% end %>
